/**Custom CSS*/

.box-tocart .qty.special-virtual-product {
    display: none;
}

.product.attribute.sku.special-virtual-product {
    display: none;
}

.product-info-price.special-virtual-product {
    display: none;
}

.catalog-product-view .page-main .product-info-main .product-add-form .product-options-wrapper.special-virtual-product .field {
    width: 100%;
    float: unset;
}

.catalog-product-view .page-main .product-info-main .product-add-form .product-options-wrapper.special-virtual-product .fieldset>.field {
    margin-bottom: 12px;
}

.product-options-wrapper.special-virtual-product .dynamic_option_measurement_unit {
    display: none;
}

.product-options-wrapper .field.required.special-virtual-product>label.label {
    display: none;
}

.product-options-wrapper.special-virtual-product .fieldset>.field:nth-child(5) {
    padding-top: 20px;
}

.product-options-wrapper .field.required.special-virtual-product .control .field.choice label.label {
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    max-width: 90%;
}

.product-options-wrapper.special-virtual-product .field.required>label.label {
    font-size: 16px;
}

.product-options-wrapper .field.required.special-virtual-product .control label.label::after {
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}

.product-options-wrapper .field.required.special-virtual-product .control .field.choice {
    display: inline-block;
    position: relative;
}

.product-options-wrapper .field.required.special-virtual-product .control .field.choice label.cd-switch {
    position: absolute;
    right: 0;
    top: 0;
}

.product-options-wrapper .field.required.special-virtual-product .control .value-description {
    max-width: 90%;
}

.catalog-product-view .page-main .product-info-main .product-add-form .product-options-wrapper.special-virtual-product .field {
    padding-right: 0;
}

.product.attribute.description.special-virtual-product {
    padding-top: 30px;
}

.checkout-index-index .checkout-billing-address .actions-toolbar .primary {
    float: left;
}

.checkout-index-index .checkout-billing-address .actions-toolbar .action.action-update {
    line-height: 2.2rem;
    padding: 14px 17px;
    font-size: 1.8rem;
    height: 56px;
    background: #ea4f24 linear-gradient(to bottom, #ea4f24, #ea4f24);
    border: 1px solid #ea4f24;
    border-radius: 3px;
    font-family: Knockout, sans-serif;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    text-shadow: none;
    text-decoration: none;
    box-shadow: none;
}

.checkout-index-index .checkout-billing-address .actions-toolbar .action.action-update:hover {
    background: #d64218 linear-gradient(to bottom, #d64218, #d64218);
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .box-tocart .actions.special-virtual-product {
        margin: 0 120px;
    }
}

@media (max-width:767px) {
    .product-options-wrapper .field.required.special-virtual-product .control .field.choice label.label {
        max-width: 80%;
    }
}