.header004 .main-header .main-header-bottom {
    border-color: #e9e8e8 !important;
}

.header001 .header-top .menu-inner .tool-right .profile .logged .logged-menu li a:hover {
    color: #e9e8e8 !important;
    border-color: #ff529c !important;
}

.header001 .header-top .menu-inner .tool-right .cart a span.count {
    color: #ff529c !important;
}

.block .title-block {
    color: #ff529c !important;
    margin: 50px 0 20px !important;
}

@media (max-width: 1199px) {
    .block .title-block {
        margin: 35px 0 15px !important
    }
}

.product-item .product-tem .percent-discount {
    background-color: #ff529c !important;
    color: white !important;
    font-size: 18px !important;
}

@media (max-width: 1440px) {
    .product-item .product-tem .percent-discount {
        font-size: 14px !important;
        padding: 9px 10px !important;
    }
}

.product-item .price.sale ins {
    color: rgb(255, 82, 156) !important;
}

.product-item:hover .product-image {
    box-shadow: 0 0 10px rgb(255, 82, 156, 0.5) !important;
    border: 0 !important;
}

.detail-product .content-product .head li.active,
.detail-product .content-product .head li:hover,
.detail-product .popup-add .content-popup .title-popup {
    background-color: #ff529c !important;
    border-color: #ff529c !important;
}

.detail-product .content-product .head li {
    padding: 15px 10px;
}

.detail-product .content-product .head li.active,
.detail-product .content-product .head li:hover {
    color: white;
}

.detail-product .popup-add .content-popup .table-product .list-cart .cart-item .changeattr,
.detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col3 label .quantity,
.detail-product .popup-check .content-popup .table-product .item-product .list-attr .item-attr select,
.detail-product .popup-check .content-popup .table-product .change-region .group-region select,
.detail-product .popup-check .content-popup .table-product .list-action .left .change-number select {
    border-radius: 25px !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.detail-product .popup-add .content-popup .table-product .list-cart .cart-item .price.sale ins,
.detail-product .popup-add .content-popup .final-cart .left .cus-note {
    color: #ff529c !important;
}

.detail-product .content-product .group-content-product,
.detail-product .content-product .head li {
    border-color: #ff529c !important;
    font-size: 20px;
}

@media (max-width: 1440px) {
    .detail-product .content-product .group-content-product,
    .detail-product .content-product .head li {
        font-size: 16px;
    }
}

@media (max-width: 1199px) {
    .detail-product .content-product .group-content-product,
    .detail-product .content-product .head li {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .detail-product .content-product .group-content-product,
    .detail-product .content-product .head li {
        font-size: 15px;
    }
}

.paging.st001 a {
    background-color: white !important;
    color: #000000 !important;
    border: 1px solid #ff529c;
}

.paging.st001 a:hover {
    background-color: #ff529c !important;
    color: white !important;
    border: 1px solid #ff529c;
}

@media (max-width: 1199px) {
    .paging.st001 a {
        background-color: #ff529c !important;
        color: white !important;
        border: 1px solid #ff529c;
    }
}

.top-list .title-filter {
    background-color: #ff529c !important;
    color: white !important;
    border-bottom: 1px solid #ff529c !important;
}

.filter .show-filter {
    border-color: #ff529c !important;
    color: #ff529c !important;
}

.filter .content-filter {
    border-color: #ff529c !important;
}

.filter .content-filter .group-filter .title {
    color: #ff529c !important;
}

.form-check-input:not(:checked)+label:before,
.form-check-input:checked+label:before {
    border-color: #ff529c !important;
}

.filter .content-filter .group-filter .item-filter .form-check-input:not(:checked)+label:after,
.filter .content-filter .group-filter .item-filter .form-check-input:checked+label:after {
    background-color: #ff529c !important;
}

.checkout.complete .continued,
.filter .content-filter .action-filter .submit,
.checkout .form-group .input-group .submit,
.checkout .step2 .action .booknow,
.checkout .step3 .buy {
    background-color: #ff529c !important;
    opacity: 0.8 !important;
}

.checkout.complete .continued:hover,
.filter .content-filter .action-filter .submit:hover,
.checkout .submit:hover,
.checkout .step2 .action .booknow:hover,
.checkout .step3 .buy:hover {
    opacity: 1 !important;
}

@media (max-width: 767px) {
    .filter .content-filter .group-filter {
        border-color: #ff529c !important;
    }
}

.filter .content-filter .group-filter .item-filter.style2 .form-check-input:checked+label:after {
    background-color: transparent !important;
}

@media (max-width: 767px) {
    .filter .content-filter .group-filter {
        border-color: #ff529c;
        border-radius: 25px;
    }
}

.detail-product .product-info .product-tem .percent-discount {
    background-color: #ff529c !important;
    color: white;
    text-transform: uppercase;
}

.detail-product .product-info .price.sale ins {
    color: #ff529c !important;
}

.detail-product .product-info .group-attr.color li:hover,
.detail-product .product-info .group-attr.color li.active {
    border-color: #ff529c !important;
}

.group-attr.quantity.cus-quantity {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000000;
}

.detail-product .product-info .buy-now,
.detail-product .product-info .btn-coming {
    background-color: #ff529c;
    color: white;
}

.detail-product .product-info .buy-now:hover,
.detail-product .product-info .btn-coming:hover {
    opacity: 0.8;
}

.detail-product .product-info .group-attr.size li.active,
.detail-product .product-info .group-attr.size .list-attr li:hover {
    background-color: #ff529c !important;
}

.detail-product .product-info .group-attr.size li.out-stock:hover {
    background-color: #f6f6f6 !important;
}

.detail-product .product-info .group-attr.other-product li a:hover {
    border-color: #ff529c !important;
}

.detail-product .popup-check .content-popup .title-popup {
    background-color: #ff529c !important;
    border-color: #ff529c !important;
}

#signup #msform {
    width: 500px;
    text-align: left;
}

#signup #progressbar,
#signup .note-login {
    display: none;
}

#signup .form-login {
    width: 100%;
}

#signup .fs-title {
    text-transform: none;
}

#signup #msform fieldset {
    box-shadow: none !important;
    border-radius: 25px;
    padding: 0 30px 35px;
}

@media (max-width: 767px) {
    #signup #msform fieldset {
        width: 100%;
        margin: 0;
        padding: 0 0 35px;
    }
}

.checkout.complete .continued,
#signup .extend_signup005,
#signup #msform input,
#signup #msform textarea,
#signup .f-p-v.login-w-f .btn_login,
#signup .f-p-v.login-w-f .btn_login,
.register .group-form button {
    border-radius: 25px;
}

#signup .extend_signup005,
#signup #msform input,
#signup #msform textarea,
#signup {
    padding: 12px 15px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
}

#signup #msform .action-button,
.register .group-form button {
    background-color: #ff529c !important;
    text-transform: uppercase;
}

#signup #msform .action-button:hover {
    box-shadow: none;
}

#signup .f-p-v.login-w-f .btn_login {
    color: white !important;
    background-color: #1778f2;
    border-color: #1778f2 !important;
    padding: 8px 0 !important;
    border-radius: 25px;
    width: 100% !important;
}

#signup .f-icon-v {
    background-color: #1778f2 !important;
}

#signup .other-login {
    margin-top: 25px;
}

#signup .title-login {
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
}

#signup h2.fs-title {
    font-size: 27px;
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 30px
}

#signup .fs-subtitle {
    font-size: 14px;
}

#signup #msform .back-button {
    text-transform: uppercase;
}

@media (max-width: 1199px) {
    #signup {
        min-height: 200px !important;
    }
    #signup #msform {
        margin: 30px auto 0;
    }
    #signup h3.fs-title {
        text-transform: none;
        font-size: 14px;
    }
    #signup .title-login {
        font-size: 22px;
    }
    #signup .f-p-v {
        padding: 15px 0;
    }
}

.register .group-form .form-group .form-control {
    border-radius: 25px;
}

.register .group-form form {
    width: 400px !important;
}

.register .group-form button:hover,
#signup #msform .action-button:hover,
.header001 .popup-loca .ct-popup .btn-continue,
.header001 .popup-loca-sale .ct-popup .btn-continue:hover,
.header004 .popup-loca .ct-popup .btn-continue,
.header004 .popup-loca-sale .ct-popup .btn-continue:hover {
    background-color: #ff529c !important;
}

.header001 .popup-loca .ct-popup,
.header001 .popup-loca-sale .ct-popup,
.header004 .popup-loca .ct-popup,
.header004 .popup-loca-sale .ct-popup {
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
}

.header001 .popup-loca .ct-popup select,
.header001 .popup-loca-sale .ct-popup select,
.header001 .popup-loca .ct-popup .btn-continue,
.header001 .popup-loca-sale .ct-popup .btn-continue,
.header004 .popup-loca .ct-popup select,
.header004 .popup-loca-sale .ct-popup select,
.header004 .popup-loca .ct-popup .btn-continue,
.header004 .popup-loca-sale .ct-popup .btn-continue {
    border-radius: 30px;
    -moz-appearance: auto;
    -webkit-appearance: auto;
    appearance: auto;
}

.detail-product .product-info .promotion-content .item-promotion:before {
    background-image: url(../../../../../img3_0/icon/inew.png) !important;
    top: 0 !important;
}

.detail-product .content-product {
    margin-top: 45px;
}

.cart-page .cart .item-cart .price.sale ins {
    color: #ff529c !important;
}

.cart-page .cart .item-cart .book-number {
    border: 1px solid #d9d9d9;
    border-radius: 30px;
}

.cart-page .cart .item-cart .book-number .item-change {
    /* border-color: #ff529c !important; */
    color: #000000 !important;
    /* border-radius: 30px; */
    margin: 0 !important
}

.cart-page button.item-change.minus {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.cart-page .cart-button .checkout-cart {
    background-color: #ff529c !important;
    border-radius: 30px;
}

.cart-page .cart-button .checkout-cart:hover {
    opacity: 0.8;
}

.detail-product .product-info .price .currency,
.detail-product .product-info .price .amount {
    color: #ff529c;
    font-weight: 200 !important;
}

.detail-product .product-info .price del .amount,
.detail-product .product-info .price del .currency {
    color: #c6c6c6 !important;
}

.product-item .price del .amount,
.product-item .price del .currency {
    color: #aaaaaa
}

.detail-product .product-info .group-attr {
    font-family: GARAMONDPREMRPRO-IT;
}

.detail-product .product-info .group-attr.quantity .book-number .input-number input,
.cart-page .cart .item-cart .book-number .input-number input {
    font-family: GARAMONDPREMRPRO;
}

.detail-product .product-info .group-attr .title-attr {
    font-style: italic;
}

.detail-product .product-info .other-product .title-attr {
    font-family: TTCOMMONS-REGULAR !important;
    font-style: normal !important;
    text-transform: uppercase;
    font-size: 23px !important;
}

@media (max-width: 1440px) {
    .detail-product .product-info .other-product .title-attr {
        font-size: 16px !important;
    }
}

@media (max-width: 1199px) {
    .detail-product .product-info .other-product .title-attr {
        font-size: 16px !important;
    }
}

.detail-product .product-info .promotion-content .item-promotion a:hover {
    color: #ff529c !important;
}

/* .detail-product .product-info .promotion-content .item-promotion a{
	font-family: GARAMONDPREMRPRO;
	font-style: italic;
} */

@media (max-width: 991px) {
    .detail-product .product-info .price {
        font-size: 22px;
        font-weight: 700;
    }
}

.product-item .price {
    font-size: 27px;
}

@media (max-width: 1440px) {
    .product-item .price {
        font-size: 22px !important;
    }
}

@media (max-width: 767px) {
    .product-item .price {
        font-size: 16px !important;
    }
}

.product-item .price .amount,
.product-item .price .currency {
    font-weight: normal !important;
}

.product-item {
    margin: 30px 0 0 !important;
    font-size: 24px !important
}

@media (max-width: 1440px) {
    .product-item {
        font-size: 18px !important
    }
}

@media (max-width: 1199px) {
    .product-item {
        margin: 15px 0 0 !important
    }
}

.header001 .main-header .main-menu ul li .sub-menu li.active>a,
.header001 .main-header .main-menu ul li .sub-menu li:hover>a {
    font-size: 24px !important;
}

@media (max-width: 1440px) {
    .header001 .main-header .main-menu ul li .sub-menu li.active>a,
    .header001 .main-header .main-menu ul li .sub-menu li:hover>a {
        font-size: 18px !important;
    }
}

@media (max-width: 767px) {
    #signup #msform fieldset:not(:first-of-type) {
        padding: 0 15px 35px !important;
    }
}

.detail-product .product-info .group-attr .title-attr .change {
    display: none !important;
}

/* .wl-info{
	font-family: GARAMONDPREMRPRO-IT;
	font-style: italic;
	font-size: 27px;
} */

@media (max-width: 1440px) {
    .wl-info {
        font-size: 14px;
    }
}

.wl-info .out-of-stock {
    color: #ff529c !important;
}

.header001 .header-top .menu-inner .tool-right .profile .loggin a:hover {
    color: #ff529c !important;
}

.header001 .noti-header .content-noti {
    padding: 7px 20px;
}

@media (max-width: 1440px) {
    .header001 .noti-header .content-noti {
        padding: 2px 20px;
    }
}

.detail-product .group-images .list-images-product .owl-dots {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: 0 !important;
    transform: translate(0, -50%);
    flex-wrap: wrap;
    width: 30px !important;
}

.detail-product .group-images .list-images-product .owl-dots .owl-dot {
    margin: 8px !important;
}

@media (min-width: 1200px) {
    .detail-product .group-images .list-images-product .item {
        padding: 2.5px !important;
    }
}

.detail-product .product-info .check-store {
    border-color: #ff529c;
}

.detail-product .popup-add .content-popup .title-popup,
.detail-product .popup-check .content-popup .title-popup {
    font-size: 20px;
    color: white
}

@media (min-width: 768px) {
    .filter:hover .show-filter:after {
        font-size: 30px;
        top: 43% !important
    }
}

.checkout input[type="radio"]+label:after {
    background-color: #ff529c !important;
}

.checkout input[type="radio"]+label:before {
    border-color: #ff529c !important;
}

.checkout .notication.error {
    background-color: white !important;
}

.checkout.complete .des-order,
.checkout .form-group .input-group .submit,
.cart-page .cart,
.checkout .step3 .coupon .apply-coupon,
.checkout .step3 .group-right .ct-right,
.checkout .step3 .buy,
.checkout .step2 .list-address .item .ct-item,
.checkout input,
.checkout textarea,
.checkout .step2 .group-ct-step .ct-step .input-group input,
.checkout .step2 .group-ct-step .ct-step .input-group select,
.checkout .step2 .group-ct-step .ct-step .input-group textarea,
.select2-container--default .select2-selection--single,
.checkout .step2 .action .cancel,
.checkout .step2 .action .booknow,
.checkout .step2 .list-address .item .ct-item .delivery-to {
    border-radius: 30px;
}

.checkout .step2 .list-address .item .ct-item .delivery-to {
    color: #ff529c !important;
    border-color: #ff529c !important;
}

.checkout .step2 .list-address .item .ct-item .delivery-to:hover {
    background-color: #ff529c !important;
    color: white !important;
}

select,
input,
textarea {
    font-family: 'TTCOMMONS-REGULAR';
}

.checkout .step2 .check-group input+label {
    padding-left: 35px;
}

.checkout .step2 .check-group input+label:before {
    border-color: #ff529c !important;
}

.checkout .step2 .check-group input+label:before {
    border-radius: 2px;
}

.checkout .step2 .check-group input+label:after {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    border-color: #ff529c !important;
    background-color: #ff529c !important;
}

.select2-search--dropdown .select2-search__field {
    padding: 4px 10px;
}

.checkout .step2 .check-group input+label:after,
.checkout .step2 .check-group input+label:before {
    width: 20px;
    height: 20px;
}

.cart-page .item-promotion.fgift span,
.cart-page .cart-button .total-price li.sale .amount,
.cart-page .cart-button .total-price li.sale .currency,
.cart-page .cart .item-cart a:hover,
.checkout .step3 .group-price .final-price .value,
.checkout .step3 .group-price .discount-price .value,
.checkout .step3 .list-product .item .info .price.sale ins {
    color: #ff529c !important;
}

.checkout .step3 .coupon .apply-coupon input {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.checkout .step3 .coupon .apply-coupon .apply-btn .apply {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.checkout .step3 .coupon .title-coupon .icon-guide:hover+.group-guide {
    border-radius: 20px;
}

.cart-page .cart .item-cart .attr span {
    color: #000000 !important;
}

.cart-page .cart-button .total-price:first-child {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.cart-page .cart-button .total-price:nth-child(5) {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.cart-page .cart-button .total-price li.price span {
    font-size: inherit;
}

@media (max-width: 991px) {
    .cart-page .cart .item-cart:first-child {
        border-top: 0
    }
    .cart-page .col-3 {
        border-left: 0;
    }
}

@media (max-width: 767px) {
    .cart-page .cart .item-cart .price {
        font-size: inherit;
    }
    .cart-page .col-3,
    .cart-page .col-4 {
        justify-content: flex-start;
    }
    .cart-page .cart .item-cart .price.sale ins {
        display: inline-block;
    }
    .cart-page .cart .item-cart {
        border-radius: 30px;
    }
    .cart-page .col-4,
    .cart-page .col-6 {
        padding: 20px 10px;
    }
}

#signup .extend_signup005,
#signup #msform input,
#signup #msform textarea {
    font-size: inherit;
}

@media (min-width: 1200px) {
    .product-item:hover .product-image .avatar.after {
        display: block !important;
    }
    .product-item:hover .product-image .avatar.before {
        display: none !important;
    }
}

.product-item .product-image a .avatar.after {
    display: none;
}

.landing-product .tab-group.style-4 .slide {
    padding-right: 1px;
}

.landing-product .tab-group.style-4 .slide .slide-tab .item .icon {
    display: none;
}

.landing-product .tab-group.style-4 .slide .slide-tab .item,
.landing-product .tab-group.style-4 .active-slide .prev,
.landing-product .tab-group.style-4 .active-slide .next {
    border-radius: 30px;
    border: 1px solid #aaaaaa;
    text-align: center;
}

.landing-product .tab-group.style-4 .slide .slide-tab .item:hover,
.landing-product .tab-group.style-4 .slide .slide-tab .item.active-item {
    border-color: #ff529c !important;
    background-color: #ff529c !important;
}

.landing-product .tab-group.style-4 .slide .slide-tab,
.landing-product .tab-group.style-4 .slide .slide-tab .item .text {
    border: 0 !important;
}

.landing-product .tab-group.style-4 .slide .slide-tab .item .text {
    width: 100%;
    padding-left: 0 !important;
}

.landing-product .tab-group.style-4 .active-slide .prev,
.landing-product .tab-group.style-4 .active-slide .next {
    color: #ff529c !important;
}

.landing-product .tab-group.style-4 .active-slide .prev:hover,
.landing-product .tab-group.style-4 .active-slide .next:hover {
    color: white !important;
    background-color: #ff529c !important;
}

.landing-product .tab-group.style-4 .active-slide {
    padding-left: 10px
}

.landing-product .tab-group.style-4 .active-slide .prev {
    margin-right: 10px
}

.landing-product .tab-group.style-4 .slide .slide-tab .owl-item {
    padding-right: 1px;
}

.landing-product .listproduct .group-product .title-group {
    color: #ff529c !important;
    border-bottom: 0 !important;
    font-size: 42px;
}

@media (max-width: 1440px) {
    .landing-product .listproduct .group-product .title-group {
        font-size: 1.75rem;
    }
}

@media (max-width: 1199px) {
    .landing-product .listproduct .group-product .title-group {
        font-size: 1.3125rem;
    }
}

.landing-product .tab-group .slide .slide-tab .item .text {
    float: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 50px;
    padding-left: 15px;
    color: #b7b7b7;
    border-left: 1px solid #e5e5e5;
    text-transform: uppercase;
}

@media (max-width: 1199px) {
    .landing-product .tab-group .slide .slide-tab .item .text {
        font-size: 16px !important;
        height: 34px;
    }
}

@media (max-width: 991px) {
    .landing-product .tab-group .slide .slide-tab .item .text {
        font-size: 16px !important;
    }
}

@media (min-width: 1200px) {
    .landing-product .tab-group .slide .slide-tab .item .text {
        font-size: 16px !important;
        height: 36px;
    }
}

@media (min-width: 1440px) {
    .landing-product .tab-group .slide .slide-tab .item .text {
        font-size: 18px !important;
        height: 40px;
    }
}

@media (min-width: 1820px) {
    .landing-product .tab-group .slide .slide-tab .item .text {
        font-size: 24px !important;
        height: 48px;
    }
}

@media (max-width: 767px) {
    .landing-product .tab-group.f-nav.style-4 {
        padding: 15px;
    }
    .landing-product .tab-group.f-nav.style-4 .slide-tab .item .text span:after {
        display: none;
    }
    .landing-product .tab-group.f-nav.style-4 .slide-tab .item {
        border: 1px solid #aaaaaa !important;
    }
    .landing-product .tab-group.f-nav.style-4 .slide-tab .item .text {
        margin-left: 0 !important;
    }
}

.detail-product .product-info .note-online {
    color: #000000 !important;
}

.checkout .step3 .radio-ls li span {
    font-weight: normal !important;
}

.checkout .step3 .group-price .number-product,
.checkout .step3 .group-price .total-price,
.checkout .step3 .group-price .shipping-total,
.checkout .step3 .group-price .discount-price {
    font-size: 16px !important;
}

.checkout .step3 .list-product .item .info div,
.checkout .step3 .list-product {
    padding: 0 0 15px !important;
}

.detail-article .related-article .list-item .item-related:hover .item-info .title-item a,
.article-item:hover .article-caption .article-title a,
.checkout.complete .des-order .detail .total-price span,
.header003 .header-top .menu-inner .tool-right .cart a span.count {
    color: #ff529c !important;
}

.checkout.complete .des-order .sub-title {
    font-size: inherit !important;
}

.policy #sidebarmenu .side-custom-menu,
.policy #sidebarmenu .side-custom-menu h2,
.policy #sidebarmenu .side-custom-menu ul li {
    border: 0 !important
}

.policy #sidebarmenu .side-custom-menu h2 {
    background-color: transparent !important;
}

.policy #sidebarmenu .side-custom-menu h2,
.policy #sidebarmenu .side-custom-menu ul li,
.policy #sidebarmenu .side-custom-menu ul li a {
    padding-left: 0 !important;
}

.policy #sidebarmenu .active-menu,
.policy #sidebarmenu .side-custom-menu ul li:hover {
    background-color: transparent !important;
    color: #000000 !important;
    font-family: GARAMONDPREMRPRO-IT;
    font-weight: bold;
}

.policy #sidebarmenu .side-custom-menu ul li:hover a {
    color: #000000 !important;
}

.policy #sidebarmenu .side-custom-menu ul li a {
    font-size: inherit !important;
}

@media (max-width: 1199px) {
    .policy #sidebarmenu .side-custom-menu ul li a {
        font-size: 16px !important;
    }
}

@media (min-width: 1200px) {
    .policy #sidebarmenu .side-custom-menu ul li a {
        font-size: 16px !important;
    }
}

@media (min-width: 1440px) {
    .policy #sidebarmenu .side-custom-menu ul li a {
        font-size: 16px !important;
    }
}

@media (min-width: 1820px) {
    .policy #sidebarmenu .side-custom-menu ul li a {
        font-size: inherit !important;
    }
}

.policy .content-page .title-content {
    font-family: GARAMONDPREMRPRO;
    border-bottom: 0 !important
}

.paging.st002 .list-pager li a {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.paging.st002 .list-pager li.active a,
.paging.st002 .list-pager li:hover a {
    color: #ff529c !important;
    border-color: rgb(255, 82, 156, 0.3) !important;
    background-color: rgb(255, 82, 156, 0.3) !important;
}

.ct-popup .select2 {
    width: 100% !important;
    margin-top: 12px;
}

.popup-check .ct-popup .select2 {
    width: 100% !important;
    margin-right: 12px;
}

.ct-popup .select2-container--default .select2-selection--single {
    padding: 4px 7px;
    height: auto;
    border: 1px solid #cccccc;
    outline: none;
}

.ct-popup .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
}

.ct-popup .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000000 transparent transparent transparent;
}

.ct-popup .select2-container--open .select2-dropdown--below {
    border-radius: 0;
}

.ct-popup .select2-dropdown {
    border-color: #cccccc !important;
}

.filter .content-filter .group-filter .style2:hover .form-check-input:not(:checked)+label:after {
    background-color: transparent !important;
}

.filter .content-filter .group-filter .item-filter .form-check-label .thuml-img {
    border-radius: 4px;
}

.detail-product .product-info .check-store.in-stock:hover {
    color: #ff529c !important;
}

img {
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.detail-product .popup-add .content-popup .final-cart .left {
    width: 70%;
}

.detail-product .popup-add .content-popup .final-cart .right {
    width: 30%;
}

@media (max-width: 992px) {
    .detail-product .popup-add .content-popup .final-cart .left,
    .detail-product .popup-add .content-popup .final-cart .right {
        width: 100%;
    }
    .detail-product .popup-add .content-popup .final-cart .left {
        order: 2;
    }
}